.search-wrapper {
  width: 100%;
}

.search-wrapper-inner {
  margin: 0 auto;
  width: 90%;
  text-align: center;
}

.main-search-form {
  // add styling if necessary
  &-input {
    
  }
}




.search-field {

}

.search-filtration-wrapper {

}

.search-filter-1 {
    
}