@import "variables";

* {
  box-sizing: border-box;
}

body {
  // background-color: #03A9F4;
  background-color: #fff;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.main-wrapper {
  margin: 0 auto;
  max-width: 1080px;
  width: 90%;
}

@import "header";
@import "search";
@import "card";
