

*{
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

@import "variables";
@import "card";

.🍌 {
  background-color: $banana;
}
body{
  background-color: #03A9F4;
}
