@import "variables";

* {
  box-sizing: border-box;
}

body {
  background-color: #03A9F4;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.main-wrapper {
  width: 90%;
}

@import "search";
@import "card";
